In [46]:
import pandas as pd
from sklearn.datasets import load_boston

In [47]:
data=load_boston()

In [48]:
x=pd.DataFrame(data.data)
y=pd.DataFrame(data.target)
y.head()

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [51]:
from sklearn.linear_model import LinearRegression

In [52]:
clf=LinearRegression()
clf.fit(x_train,y_train)
predict=clf.predict(x_test)

In [53]:
clf.score(x_test,y_test)

0.7634809220792316